body {
    font-family: "Lucida Grande", Helvetica, sans-serif;
    background: #ececec;
}

label {
    width: 150px;
    float: left;
}

h2 {
    color: #A3A3A3;
    text-shadow: 0px 2px 3px #fff;
    border-bottom: 1px dotted #DCDCDC;
}

#setup {
    font-size: 14px;
    text-shadow: 0px 2px 3px #fff;
    
    color: #a3a3a3;
}

div.field:nth-child(even){
/*    border-bottom: 2px solid #F5F5F5;*/
    padding-bottom: 5px;
}
div.field:nth-child(odd) {
/*    border-top: 1px solid #C9D5DE;*/
    padding-top: 5px;
}

#findKeys a {
    font-size: 10px;
    font-weight: bold;
    color: #888;
    text-decoration: none;
    text-shadow: 0px 0px 3px #fff;
    
}

#findKeys a:hover {
    color: #333;
}

input {
    border: 1px solid #C9D5DE;
    padding: 5px;
}

input#saveButton {
    width: 50px;
    height: 25px;
    border: 1px solid #C9D5DE;
    margin: 10px 0 0 111px;
    -moz-border-radius-bottomleft: 5px;
    -moz-border-radius-bottomright: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    background: url('buttonBg.png') top left repeat-x;
    text-shadow: 1px 1px 0 #FFFFFF;
    color: #555;
}

input#saveButton:hover {
    background-position: bottom left;
}

input#saveButton:active {
    background: #B8C5D4;
}


#findKeys {
    border-top: 2px solid #fff;
}

#aws {
    background: url('aws.png') top right no-repeat ;
}

select#buckets {
    margin-bottom: 10px;
}
